:root {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

hr {
    border-color: #d4d1d1;
    border-top: none;
}

img {
    max-width: 100%;
}

.content {
    flex: 1;
}

.header {
    background-color: aqua;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.header__img {
    max-width: 35px
}

.header__list {
    display: flex;
    padding-top: 10px;
}

.header__itens {
    margin-left: 40px;
    text-decoration: none;
    color: black;
}

.menu__icon {
    display: none;
}


.featured__item {
    background-color: #bdbbbb;
    color: black;
    padding: 10px;
    border-radius: 3px;
}

.featured__item:active {
    background-color: black;
    color: white;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.div__content {
    display: flex;
    justify-content: space-between;
}

.section__margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.form__label {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.newProduct__input {
    width: 500px;
    border: 1px #888 solid;
    height: 25px;
    font-family: 'Montserrat', sans-serif;
}

.textarea {
    height: 242px
}

.newProduct__button {
    width: 200px;
    padding: 10px;
    background-color: #bdbbbb;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 20px;
    border: none;
}

.newProduct__button:active {
    background-color: black;
    color: white;
}

.productPicture__width {
    width: 300px;
}

.productPicture__img {
    margin: 10px 0;
    height: 300px;
}

.productPicture__button {
    width: 300px;
    padding: 8px;
    background-color: #888;
    border: none;
    border-radius: 3px;
}

.productPicture__button:active {
    background-color: black;
    color: white;
}

.footer__content {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__itens {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.footer__paragraph {
    margin-top: 15px;
}