:root {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

hr {
    border-color: #d4d1d1;
    border-top: none;
}

img {
    max-width: 100%;
}

.content {
    flex: 1;
}

.header {
    background-color: aqua;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.header__img {
    max-width: 35px
}

.header__list {
    display: flex;
    padding-top: 10px;
}

.header__itens {
    margin-left: 40px;
    text-decoration: none;
    color: black;
}

.menu__icon {
    display: none;
}

.featured__item {
    background-color: #bdbbbb;
    color: black;
    padding: 10px;
    border-radius: 3px;
}

.featured__item:active {
    background-color: black;
    color: white;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.shoppingCart__stages {
    background-color: #bdbbbb;
}

.shoppingCart__details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.shopping__cart {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

.ShoppingCart__title {
    font-size: 21px;
}

.cart__width {
    width: 700px;
}

.product__card {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.product__title {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.product__img {
    float: left;
    margin-right: 20px;
    width: 120px;
    height: 120px;
}

.product__description {
    width: 450px;
    line-height: 1.61;
    margin-bottom: 10px;
}

.product__input {
    width: 60px;
    height: 25px;
    margin: 40px 0;
    text-align: center;
    border: 1px #888 solid;
}

.product__button {
    width: 200px;
    padding: 10px;
    background-color: #bdbbbb;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 20px;
    border: none;
}

.product__button:active {
    background-color: black;
    color: white;
}

.products__summary {
    display: flex;
    justify-content: space-between;
}

.summary__width {
    width: 400px;
}

.align__summaryItens {
    text-align: right;
}

.summary__text {
    margin: 20px 0;
}

.summary__cuponCode {
    font-weight: 600;
}

.summary__total {
    font-size: 21px;
}

.footer__content {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__itens {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.footer__paragraph {
    margin-top: 15px;
}